/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
background-image: var(--bg-image);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-color: var(--bg-color);
background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;

/* justify-content: end;
align-items: center; */

}

.decorated-zone::before{
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--color-fuchsia);
  border-inline-end: 1px solid var(--color-fuchsia);
  pointer-events: none;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--color-fuchsia);
  border-inline-start: 1px solid var(--color-fuchsia);
  pointer-events: none;
}

.rec {
  position: absolute;
  left: 310px;
  top: 13px;
  font-family: var(--font-primary, monospace);
  color: var(--color-fuchsia);
  font-size: var(--font-size-body);
  text-transform: uppercase;
  font-weight: var(--font-weight-regular);
  line-height: 25px;
  /* text-align: center; */
}

.rec::after {
  content: "";
  position: absolute;
  top: 7px;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--color-fuchsia);
  margin-inline-start: 5px;
  box-shadow: 0px 0px 4px 2px var(--color-fuchsia);
}

.header__title {
  margin: 0;
  padding: 0;
  line-height: 95.7px;
}

.header__subtitle {
align-self: center;
}

.title-decor {
  display: flex;
  font-family: var(--font-primary, monospace);
  font-size: var(--font-size-body);
  color: #000028;
  background-color: var(--color-fuchsia);
  font-weight: var(--font-weight-bold);
}

.article-title {
  font-family: var(--font-primary, monospace);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
  color: var(--color-fuchsia);
}

.subtitle-decor {
  font-family: var(--font-primary, monospace);
  font-size: var(--font-size-body);
  color: #000028;
  background-color: var(--color-fuchsia);
  font-weight: var(--font-weight-regular);
}

.main_title {
  font-family: var(--font-primary);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-purple);
  text-shadow: 4px 4px 0 var(--color-fuchsia);
}

.paragraph {
  font-family: var(--font-primary, monospace);
  font-size: var(--font-size-body);
  color: var(--color-pink);
}

.header__theme-menu {
justify-self: end;
grid-row: span 1;
align-self: center;
}

.header__theme-menu-button {
  font-family: var(--font-primary, monospace);
  font-size: var(--font-size-body);
  background-color: transparent;
  color: var(--color-fuchsia);
  text-transform: lowercase;
  border: none;
  padding: 1.5px 13px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}
.header__theme-menu-button_active {
  border: 1px solid var(--color-fuchsia);
}

.header__theme-menu-button:hover {
border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  border-block-start: none;
  border-inline-start: none;
  border-inline-end: none;
  border-block-end: 1px solid var(--color-fuchsia);
}


.content {
margin-block-start: 40px;
display: grid;
gap: 50px;
padding: 0 10px;
}

.custom-link {
  text-decoration: none;
  text-shadow: 4px 4px 0 var(--color-fuchsia);

}



.header__theme-menu-list{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.article_causes {
  display: grid; 
  gap: 20px;
}

.article_what {
  display: grid;
  gap: 20px;
}

.article_how {
  display: grid;
  gap: 20px;
}

.gap_between_sections {
  display: grid;
  gap: 20px;
}

.section {
  display: grid;
  gap: 10px;
}

.article_media {
display: grid;
gap: 10px;
}

.media {
  display: grid;
  gap: 10px;
}

.media-img {
  max-width: 100%; 
  object-fit: contain;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 40px;
} 

@media (width >= 1024px) {
  /* TO-DO
  1. [x] firstPartOfTheFirstArtcivle must be 1/3
  2. [x] section_causes must be 2/3
  3. [x] firstArticle make gap 
  */
  .content {
    padding: 0 20px;
    gap: 80px;
  }
  .article_causes {
    grid-template-columns: 1fr 2fr; 
  }
}