/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url("/images/cover-image-dark.png");
  --bg-color: #000028;
  --font-primary: "IBM Plex Mono";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --accent-color: #ff0070;
  --titles-color: #ff0070;
  --main-color: #f1b2ce;
  --main-title-color: #db00ff;
  --button-color: #ff0070;
  --font-size-body: 18px;
  --font-size-title: 116px;
  --button-hover-border:rgba(255, 0, 112, 0.4);
}
